/* Loading screen */

/* Buttons */
.currentActive {
    background-color: #004467;
    border: 3px solid #FFC000;
    color: #FFC000 !important;
}
.currentActive svg path{
    fill: #FFC000 !important;
}
.currentActive span{
    color: #FFC000 !important;
}

    /* Remove X from the input search bar */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }

    /* Remove dropable select icon from the select button */
    select::-ms-expand {
        display: none;
        color: #FFC000 !important;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        color: #FFC000 !important;
    }

/* Margins */
.margintop {
    margin-top: 72px;
}

/* Colors */
.main-color-blue-bg {
    background-color: #004467;
}
.main-color-blue-text {
    color: #004467;
}
.main-color-blue-text path {
    fill: #004467;
}
.main-color-yellow-bg {
    background-color: #FFC000;
}
.main-color-yellow-text {
    color: #FFC000;
}
.main-color-yellow-text path {
    fill: #FFC000 !important;
}

/* Text */

    /* Smaller font-sizes for 'xs' */
    .text-2xs {
        font-size: 0.625rem;
        line-height: 0.75rem;
    }
    .text-3xs {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }

/* Main Logo - IES CIERVA */
.ieslogo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-image: url("../img/IdlC-logo.png");
}

/* Blur BG Components */
.backdrop-filter {
    backdrop-filter: blur(1em);
}

/* Animations */

    /* Loading Screen */
    .loading-screen::before {
        content: '';
        position: absolute;
        width: 350px;
        height: 15%;
        top: 0;
        left: 0;

        border-top: 60px solid #004467;
        border-bottom: 50px solid #FFC000;

        transform: rotate(-45deg) translate(-20%, -85%);
    }
    .loading-screen::after {
        content: '';
        position: absolute;
        width: 350px;
        height: 15%;
        bottom: 0;
        right: 0;

        border-top: 60px solid #FFC000;
        border-bottom: 50px solid #004467;

        transform: rotate(135deg) translate(-80px, -85%);
    }

/* Responsive */
@media (min-width: 992px) {

    .extend-width:hover {
        width: 8.75rem;
    }
    .extend-width:hover p {
        display: block;
    }

}
